.nav-wrapper {
    background-color: #232358;
}

.foot1 {
    color: blanchedalmond;
    background-color: #232358;
}

#search{
    color: blanchedalmond;
}
.magic1 {
    height: 100%;
}
#color1{
    background-color: #232358;
}
#progress1{
    background-color: red;
}

